<html>
    <head>
        <title>pgoapi-tracker</title>
    </head>
    <body>
        <link href="{{ url_for('static', filename='skeleton.min.css') }}" rel="stylesheet"/>

        <div class="container">
            <div class="row">
                <div class="eight columns">
                    <h1>pgoapi-tracker</h1>
                </div>
                <div class="four columns">
                    <a href="/login">
                        <input type="button" value="log in">
                    </a>
                    <a href="/signup">
                        <input class="button-primary" type="button" value="sign up">
                    </a>
                </div>
            </div>


            <h5>welcome to the home of the pgoapi-tracker.</h5>
            <p>this site is currently a work in progress, but the following features will be implemented:</p>
            <ul>
                <li>oauth2 logins for google and for users of the <a href="https://pgoapi.slack.com" target="_blank">pgoapi slack channel</a>, along with ptc login</li>
                <li>ability to track locations simulated via. the <a href="https://github.com/tejado/pgoapi" target="_blank">pgoapi</a>
                    <ul>
                        <li>this will use google maps as the maps engine</li>
                        <li>eventually, i will create a python module for use with <a href="https://github.com/tejado/pgoapi" target="_blank">pgoapi</a> to send the location information</li>
                    </ul>
                </li>
                <li>view caught pokemon</li>
                <li>list inventory items</li>
                <li>see nearby pokemon, pokestops and gyms</li>
                <li>incubate/hatch eggs</li>
                <li>evolve pokemon</li>
            </ul>

            <h5>contact</h5>
            <form method="get" action="{{ url_for('sendmessage') }}">
              <div class="row">
                <div class="six columns">
                  <label for="emailInput">Your email</label>
                  <input class="u-full-width" type="email" placeholder="test@mailbox.com" name="email" id="emailInput">
                </div>
                <div class="six columns">
                  <label for="recipientInput">Reason for contacting</label>
                  <select class="u-full-width" id="recipientInput" name="reason">
                    <option value="Option 1">Questions</option>
                    <option value="Option 2">Contributions</option>
                    <option value="Option 3">Other</option>
                  </select>
                </div>
              </div>
              <label for="message">Message</label>
              <textarea class="u-full-width" placeholder="Hi Mike…" id="message" name="message"></textarea>
              <input class="button-primary" type="submit" value="Submit">
            </form>
        </div>

        <div class="u-full-width" style="position:absolute;bottom:0;left:0;text-align:center;">
            <p>the original api code was created by <a href="https://github.com/tejado" target="_blank">tejado</a> || site created by <a href="https://github.com/mikeres0" target="_blank">mike resoli</a></p>
        </div>
    </body>
</html>
